/* HEADER
-------------------------*/
.main-header {
    border:0;

    .logo {
        background:url("../images/logo2x.png") left center no-repeat;
        background-size:50% auto;
        display:block;
        width:100%;
    }
    .navbar-brand{
        padding: 62px 15px;
    }
    .header-content{
        padding-top:30px


    }
    .sub-title{
         padding-top: 15px;
        font-size: 1.4em;
        font-weight: bolder;
        width: 300%;
        margin-left: -80%;
    }
    button.navbar-toggle{
        margin-top:40px;
    }
    .navbar-default {
        border:0;
        box-shadow:none;

        .navbar-nav {
            > li {
                padding-top:16px;
                padding-bottom:16px;
                padding-right:20px;

                >a{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-weight:700;

                    &:hover {
                        color:$blue;
                    }
                }
                
                >.btn-border-black {
                    color:$black;                
                    
                    &:focus {
                        box-shadow:none;
                    }

                    &:hover {
                        color:$white;
                        background-color:$blue;
                        border:1px solid $blue;
                    }
                }

                .btn-bg-blue {
                    background-color:$white;
                    color:$black;
                    border-width:1px;
                    border-style:solid;
                    border-radius:50%;
                    border-color:$black;
                    width:42px;
                    height:40px;
                    margin-top:-4px;
                    line-height:30px;
                    text-align:center;

                    &:hover {
                        background-color:$blue;
                        color:$white;
                        border-color:$blue;
                    }
                }
            }
        }
    }

    .navbar-collapse {
        width:100%;
        border:0;
    }

    .navbar-default 

    .navbar-form {
        border:0;
    }
}

@media(max-width:1050px){
    .main-header{
        .logo{
            background-size:80% auto;
        }

       .sub-title{
            padding-top:23px;
            width: 250%;
            font-size:1rem;
            margin-left:-4rem;
        } 
    }
    
}
@media(max-width:1050px){
    .main-header{
        .logo{
            background-size:90% auto;
        }
 
    }
    
}

@media(max-width:768px){
    .main-header{

       .sub-title{
            visibility: hidden;
        } 
    }
    
}