  .profile-container {
    color:$blue;
    margin-bottom:40px;


    .profile-picture {
            img {
                display:block;
                border-radius:50%;
                width:100%;
            }
    }

    .profile-content{
        margin-top:5rem;

        .row + .row{
            margin-top:2rem;
        }
        
        .title {
            font-size:2rem;
            font-weight:700;
            color:$blue;
            padding-bottom:5px;
            margin-bottom:5px;
        }
        .box{
            border-top:1px solid $blue;
            padding-top:1rem;
        }
        .box-offset{
            margin-top:3.2rem;
        }
        .box-offset-small{
            margin-top:1.7rem;
        }
        .subtitle{
            font-size:1.2em;
        }

        .location {
            font-size:1.2em;
            margin-bottom:60px;
        }

        .source {
            font-size:1em;
            padding-bottom:5px;
            margin-bottom:5px;
            text-transform:uppercase;

            a{
                font-weight:600;
                color:$blue;
                text-decoration:none;
            }
        }

        .tags {
            li {
                display:inline-block;
                a {
                    font-weight:600;
                    padding:3px 5px;
                    text-transform:uppercase;
                }
            }
    }
    }
   
}
