# App
APP_NAME=FrontFiles
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=https://www.frontfiles.com

# Azure - main server storage
STORAGE_NAME=
STORAGE_KEY=
FILESYSTEM_DRIVER=local

# Dropbox
DROPBOX_KEY=
DROPBOX_SECRET=
DROPBOX_REDIRECT_URI=https://www.frontfiles.com/profile/dropbox/callback
DROPBOX_APP_URL=https://www.dropbox.com/home/Apps
DROPBOX_APP_FOLDER=FrontFiles-WebApp

# Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=frontfiles
DB_USERNAME=root
DB_PASSWORD=

# Email
MAIL_DRIVER=sparkpost
MAIL_HOST=smtp.sparkpostmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=SMTP_Injection
MAIL_PASSWORD=
SPARKPOST_SECRET=
MAIL_FROM_ADDRESS=no-reply@mailer.frontfiles.com
MAIL_FROM_NAME=FrontFiles

# Others
BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database
FFMPEG=/usr/bin/ffmpeg