/node_modules
/public/storage
/public/hot
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json
/storage/*.key
/vendor
/storage/*.index
/.idea
Homestead.json
Homestead.yaml
.env
.env.example
.DS_Store
*.log
.htaccess
.phpstorm.meta.php
_ide_helper.php