@media only screen and (max-width: 500px) {
    .drag-container .dropbox{
        margin-bottom: 30px;
    }
    .display-container ul.video-list li{
        width: 100%;
    }

    #landing {
        #how-it-works{
            .steps{
                h3, h2{
                    padding-left: 20px;
                }
                .step{
                   line-height: 60px;
                    font-size: 20px;
                    padding: 0px; 
                    .icon{
                        height: 60px;
                    }
                    :before{
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
        }
        #about-us{
            padding: 40px 0px;
        }
    }

    .footer .fa{
        float: left;
        margin: 35px 17px;
    }
}


