.auth-form{
	position:relative;
	left:50%;
	top: 50%;
	transform: translate(-50%, 0%);
}
.auth-title{
	color:blue;
	font-size:2rem;
	text-align:center;
	padding:1rem;
}
.offset-label{
	padding-top:1rem !important;
}

.beta-notice{
	padding:1rem;
	padding-bottom:3rem;
	text-align:center;
	margin-left:7rem;
	font-size:15px;
}
.register-radio{

	div{
		float:left;
		width: 50%;
		display: flex;

		label{
			flex:1;
			padding:1rem;
			text-align:center;
			background-color:#eee;
			cursor:pointer;
		}
		input[type='radio']{
			visibility:hidden;
			margin: 0px;
			clip: rect(0, 0, 0, 0);
    		height: 1px;
    		width: 1px;
		

			&:checked  + label{
				color:white;
				background-color:blue;
			
			}
		}
	}

		
}
.file-input{
	width:100%;
}

.login-box{
	 .checkbox{
	 	label{
	 		font-size:14px;
	 	}
	 }
}