body.page-payment-info.home {
    margin-bottom: 0;
}

#landing{
	.hero-image {
	    padding: 57% 0 0 0;
	}
	h3{
		font-size: 35px;
		font-weight: bold;
	}
	h2{
		font-size: 45px;
		color: blue;
		margin-bottom: 30px;
		font-weight: bold;
	}
	#about-us{
		padding: 50px;
		font-size: 23px;
		font-weight: bold;
		clear: both;
		color: #000;
		
		p{
			margin-bottom: 30px;
		}

		.mailing{
			clear: both;
			margin-top: 10px;
			input[type=text]{
				float: left;
				padding: 6px;
				font-size: 20px;
			}
			input[type=submit]{
				border: 0;
				padding: 11px;
				color: #fff;
				margin-left: 3px;
				font-size: 18px;
				font-weight: normal;
			}
		}
	}

	#how-it-works{
		padding-top: 60px;
		color: #000;
		clear: both;

		h2, h3{
			padding-left: 65px;
		}
		.steps{
			.step{
				padding: 0 50px;
				font-size: 40px;
				line-height: 100px;
			    display: block;
			    float: left;
			    width: 100%;
			    font-weight: bold;
				.icon{
					text-align: right;
					position: relative;
					height: 100px;
					img{
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						max-width: 150px;
					}
				}
				:before{
					width: 0; 
				  	height: 0; 
				  	border-left: 40px solid transparent;
				  	border-right: 40px solid transparent;	
    				margin: 0 auto;
    				position: absolute;
    				left: 0;
    				right: 0;
				}
			}
			.step:nth-child(odd) {
			    color: #fff;
			    background: blue;
			    .icon{
			    	color: black;
			    }
			    :before{
				  	border-top: 40px solid black; 
				}
			}
			.step:nth-child(1){
				:before{
				  	border-top: 0px; 
				}
			}
			.step:nth-child(even) {
			    color: #fff;
			    background: black;
			    .icon{
			    	color: blue;
			    }
			    :before{
				  	border-top: 40px solid blue; 
				}
			}
		}
	}

	
}

.footer{
	padding: 60px 50px 200px;
	img{
		width: auto;
	}
	.fa{
		color: #fff;
		font-size: 45px;
		margin: 0 5px;
		float: right;
	}
	a{
		color: #fff;
	}

}

.text-blue{
	color: blue;	
}

.main-header{
	.navbar-default{
		margin-bottom: 0px;
	}
}

.ff-divisor{
	background: #eee url(/assets/images/ff-bg.png) repeat;
	height: 100px;

}

.newsletter{
	width:15rem;
	margin:0.5rem 0 !important;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    
}