.bg-photo{
	width:100%;
	min-height:90vh;
	overflow-y:scroll
}

.bg-login{
	background-image:url('./images/riot1.jpg');
	background-size:100%;
}

.bg-create{
	background-image:url('./images/riot2.jpg');
	background-size:100%;
}