.bg-photo{
	background:no-repeat center center fixed; 
	background-size: cover;
	width:100vw;
	height:100vh;
	position:fixed;
	z-index:-1;
	top:0;

}

.bg-login{
	background-image:url('./images/riot1.jpg');
}

.bg-create{
	background-image:url('./images/riot2.jpg');
}

.btn-primary{
	background-color:blue !important; 
}