.profile {
	padding:2rem;

	.title{
		color: blue;
		font-weight: bolder;
	}

	.info{

	}

	.storage{
		ul{
			display: flex;
		}
		.box{

			display:inline-block;
			width: 30%;
			border:1px solid blue;
			padding:1rem;
			margin:1rem;
			text-align:center;

			.logo{
				width:40%;
			}
			div.logo{
				height:123px;
				margin-left:30%;

				img{
					padding-top:2rem;
				}
			}
			.title{
				font-size:1.6rem;
				padding-top:1rem;
				padding-bottom:0;
				margin-bottom:0;
			}
			p{
				padding:1.5rem;
			}
		}
	}
	
}

@media only screen and (max-width: 500px) {
    .drag-container .dropbox{
        margin-bottom: 30px;
    }
    .display-container ul.video-list li{
        width: 100%;
    }

   	#app .modal-background .modal-wrapper.modal-content,
    {
	    left: 0!important;
	    right: 0!important;
	    top: 0!important;
	    transform: none!important;
	}
}
