.profile {
	padding:2rem;

	.title{
		color: blue;
		font-weight: bolder;
	}

	.info{

	}

	.storage{
		ul{
			display: flex;
			align-items:center;
			justify-content:center;
		}
		.box{

			width: 30%;
			border:1px solid blue;
			padding:1rem;
			margin:1rem;
			text-align:center;

			.logo{
				width:40%;
				min-height:123px;

				&.avatar{
					border-radius:50%;
				}
			}
			div.logo{
				height:123px;
				margin-left:30%;

				img{
					padding-top:2rem;
				}
			}
			.title{
				font-size:1.6rem;
				padding-top:1rem;
				padding-bottom:0;
				margin-bottom:0;
			}
			p{
				padding:1.5rem;
			}

			p + p{
				padding:1rem;
			}
		}
	}
	
}

.pioneers{
	width:100%;
	text-align:center;
	border-bottom:2px solid #ddd;
	text-transform:uppercase;
	font-size:2rem;
}