.blocks {
    .block {
        &-image {
            position:relative;
            z-index:1;
            img {
                display:block;
            }
        }

        &-container {
            position:absolute;
            z-index:2;
            

            &.bottom {
                bottom:0;

                &-space {
                    bottom:5%;
                }
            }

            &.left {
                left:0;

                &-space {
                    left:5%;
                }
            }

            &.right {
                right:0;
            }

            &.top {
                top:0;
            }

            
        }

        &-content {
            padding:10px;

            .title {
                font-size:1.6em;
                font-weight:700;
                margin-bottom:5px;
            }
            .description {
                font-size:0.8em;
                font-weight:700;
                text-transform:uppercase;
            }
        }

        &-footer {
            background-color:$white;
            padding:5px;
            font-size:0.8em;

            li {
                display:inline-block;
                a {
                    text-decoration:none;
                    color:$black;
                }
            }
        }
    }
                 
                          
}