.form-control {
    box-shadow:none;

    &:focus {
        box-shadow:none;
    }
}

.form-container {
    .upload {
        height:390px;
        width:100%;
        display:block;
        font-size:5em;
        color:$white;
        position:relative;

        span {
            position:absolute;
            font-size:5em;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
    }
    .form {
        margin-left:5%;

        p {
            margin-bottom:0.9em;
        }

        input[type="text"] {
            border-color:$light-gray;
        }

        input[type="date"] {
            border-top:0;
            border-left:0;
            border-right:0;
        }

        button {
            display:block;
            color:$white;
            text-align:center;
            text-transform:uppercase;
            font-weight:700;
        }
    }
}