/*-----------------------
 HELPERS
------------------------*/

/* TEXT
------------------------*/
@each $name, $color in $colors {
  .txt-#{$name} {
    color: $color;
  }
}

/* BACKGROUNDS
------------------------*/

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

/* MISC
------------------------*/
.no-pad {
  padding:0;
}


.top-spacer {
    padding-top:50px;
}

.left-spacer {
    padding-left:50px;
}

.right-spacer {
    padding-right:50px;
}

.bottom-spacer {
    padding-bottom:50px;
}

.txt-xlarge {
  font-size:5em;
}

.txt-large {
  font-size:2.5em;
}

.txt-medium {
  font-size:1.8em;
}

.txt-small {
  font-size:0.8em;
}

.txt-xsmall {
  font-size:0.7em;
}

.bold {
  font-weight:700;
}

.italic {
  font-style:italic;
}