// $black: #211f1f;
$black: #1a1919;
$blue:#0000ff;
$gray:#aab2bd;
$light-gray:#dadada;
$yellow:#ffff00;
$white: #fff;

$colors: (
    "black" $black,
    "blue" $blue,
    "gray" $gray,
    "light-gray" $light-gray,
    "yellow" $yellow,
    "white" $white
);